@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.button {
    width: 100%;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        cursor: pointer;
        background: $primary-color;
        padding: $spacing-xs;
        border-radius: 5px;

        &.housing {
            padding: $spacing-xs;
            border-radius: $border-radius-medium;

            @include responsive('desktop') {
                padding: $spacing-xs $spacing-md;
            }
        }

        div {
            font-size: 13px;
            font-weight: 700;
            color: $title-color;

            @include responsive('tablet') {
                font-size: $font-size-medium;
            }

            @include responsive('desktop') {
                font-size: $font-size-large;

                &.housing {
                    font-size: $font-size-medium;
                }
            }
        }

        .arrow {
            width: 16px;
            height: 16px;
            margin-top: 5px;
            border-right: 3px solid #FFF;
            border-bottom: 3px solid #FFF;
            transform: rotate(225deg);
            transition: transform 0.3s ease;

            &.housing {
                width: 10px;
                height: 10px;

                @include responsive('desktop') {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        
        
        &.open .arrow {
            transform: rotate(45deg);
            margin-top: 0;
            margin-bottom: 5px;
        }

        @include responsive('desktop') {
            padding: 10px 20px 10px 15px;
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        &.open {
            max-height: 1000px;
            display: flex;
            flex-direction: column;

            @include responsive(desktop) {
                max-height: 1000px;
            }
        }
        
        p {
            padding: $spacing-xs;
            margin: 0;
            font-size: $font-size-small;
            line-height: $line-height-small;
            background: $background-light-gray;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;

            @include responsive('tablet') { 
                font-size: $font-size-medium;
                flex-grow: 1;

                &.housing {
                    height: 200px;
                }
            }

            @include responsive('desktop') {
                font-size: $font-size-medium;
                padding: $spacing-md;
                list-style-type: none;
                flex-grow: 1;
                overflow-y: auto;

                &.housing {
                    height: 200px;
                }
            }
        }

        ul {
            list-style-type: none;
        }
    }
} 