@use '@styles/variables' as *;

.collapse-button {
    width: 100%;
    
    .collapse-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
        background: $primary-color;
        padding: 10px;
        border-radius: 5px;

        h2 {
            font-size: $font-size_about-title-button;
            font-weight: 700;
            color: $title-color;
        }
        
        .arrow {
            width: 20px;
            height: 20px;
            border-right: 3px solid #FFF;
            border-bottom: 3px solid #FFF;
            transform: rotate(225deg);
            transition: transform 0.3s ease;
        }
        
        &.open .arrow {
            transform: rotate(45deg);
        }
    }

    .collapse-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        
        &.open {
            max-height: 500px;
        }
        
        p {
            padding: 1rem;
            margin: 0;
            font-size: $font-size-small;
            background: $background-light-gray;
        }
    }
}