@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.button {
    width: 100%;
    
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        cursor: pointer;
        background: $primary-color;
        padding: 10px;
        border-radius: 5px;

        h2 {
            font-size: 13px;
            font-weight: 700;
            color: $title-color;
        }

        .arrow {
            width: 16px;
            height: 16px;
            margin-top: 5px;
            border-right: 3px solid #FFF;
            border-bottom: 3px solid #FFF;
            transform: rotate(225deg);
            transition: transform 0.3s ease;
        }
        
        &.open .arrow {
            transform: rotate(45deg);
            margin-top: 0;
            margin-bottom: 5px;
        }

        @include responsive('tablet') {
            h2 {
                font-size: $font-size-medium;
            }
        }

        @include responsive('desktop') {
            padding: 10px 20px 10px 15px;
  
            h2 {
                font-size: $font-size-large;
            }
        }
    }

    .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        
        &.open {
            max-height: 500px;
        }
        
        p {
            padding: $spacing-xs;
            margin: 0;
            font-size: $font-size-small;
            line-height: $line-height-small;
            background: $background-light-gray;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }

        @include responsive('desktop') {
            p {
                font-size: $font-size-medium;
                padding: $spacing-md;
            }
        }
    }
} 