@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.about {
    display: flex;
    flex-direction: column;
    gap: $container-body-gap-mobile;

    @include responsive('desktop') {
        gap: $container-body-gap-desktop;
    }
}
