@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    width: 100%;

    @include responsive('desktop') {
        width: 85%;
        margin: 0 auto;
        gap: $spacing-xl;
    }
} 