// Colors
$primary-color: #FF6060;
$background-dark: #000000;
$background-light-gray: #F6F6F6;
$background-light: #FFFFFF;
$text-color: #000000;
$title-color: #FFFFFF;


// Typography
$font-primary: 'Montserrat', sans-serif;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 48px;

$line-height-small: 142.6%;
$line-height-medium: 160%;

// Spacing System
$spacing-xxs: 5px;    // Très petits espacements
$spacing-xs: 10px;    // Petits espacements
$spacing-sm: 15px;    // Espacements moyens-petits
$spacing-md: 20px;    // Espacements moyens
$spacing-lg: 30px;    // Grands espacements
$spacing-xl: 40px;    // Très grands espacements
$spacing-xxl: 50px;   // Espacements extra larges
$spacing-xxxl: 60px;  // Espacements maximum

// Layout Gaps
$layout-gap-tablet: $spacing-lg;      // 30px - Cas spécifique
$padding-container-desktop: 45px 100px 0;  // Cas spécifique

// Border Radius
$border-radius: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1440px;
