@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $breakpoint-desktop;
  margin: 0 auto;
  width: 100%;

  .logo {
    width: 145px;
    height: auto;
    
    @include responsive(desktop) {
      width: 210px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .nav {
    display: flex;
    gap: $spacing-xl;
    
    @include responsive(tablet) {
      gap: $spacing-xxl;
    }

    @include responsive(desktop) {
      gap: $spacing-xxxl;
    }
  }
}

.navLink {
  color: $primary-color;
  text-decoration: none;
  font-size: $font-size-small;
  color: $text-color;
  font-weight: 500;
  text-transform: uppercase;
  
  @include responsive(desktop) {
    font-size: $font-size-large;
    text-transform: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.navLinkActive {
  @extend .navLink;
  text-decoration: underline;
}
