@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-dark;
  color: $title-color;
  min-height: 209px;
  margin-top: auto;
  font-size: $font-size-small;
  font-weight: 500;
  gap: $spacing-md;
  margin-top: $spacing-md;

  .text {
    width: 30%;
    text-align: center;
    line-height: $line-height-small;
  }

  @include responsive(desktop) {
    font-size: $font-size-large;
    gap: $spacing-xl;
    padding: 0;
    margin-top: $spacing-xl;
  }
} 