.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background-dark;
  color: $title-color;
  height: 209px;
  font-size: 12px;
  font-weight: 500;
  gap: 20px;

  &__p {
    width: 30%;
    text-align: center;
    line-height: 142.6%;
  }
}