@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.gallery {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: $border-radius;


  .error {
   text-align: center;
   padding: $description-padding-mobile;
   color: #ff6b6b;
   background-color: #fff5f5;
   border-radius: 4px;
   margin: 1rem 0;
  }
  
  .counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: $title-color;
    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 4px;
    z-index: 2;
  }
    

  .viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

     .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .exitingToLeft {
      animation: slideOutToLeft 0.5s ease-out forwards;
    }
    .exitingToRight {
      animation: slideOutToRight 0.5s ease-out forwards;
    }
     .enteringToLeft {
      animation: slideInToLeft 0.5s ease-out forwards;
    }
    .enteringToRight {
      animation: slideInToRight 0.5s ease-out forwards;
    }
  }

  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    
    @include responsive(tablet) {
      padding: 20px;
    }

    @include responsive(desktop) {
      padding: 30px;
    }
    
    .arrow {
      display: block;
      width: 17px; // Size for mobile 24px height for the whole arrow
      height: 17px; // Size for mobile 24px height for the whole arrow 
      border-right: 3px solid #FFF;
      border-bottom: 3px solid #FFF;

      @include responsive(tablet) {
        border-right: 6px solid #FFF;
        border-bottom: 6px solid #FFF;
        width: 24px;
        height: 24px;
      }

      @include responsive(desktop) {
        border-right: 8px solid #FFF;
        border-bottom: 8px solid #FFF;
        width: 48px;
        height: 48px;
      }
    }
    
    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    &.prev .arrow {
      transform: rotate(135deg); // Pour pointer vers la gauche
    }
    
    &.next .arrow {
      transform: rotate(-45deg); // Pour pointer vers la droite
      
    }
  }
}

@keyframes slideInToRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
 
 @keyframes slideInToLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
 
 @keyframes slideOutToRight {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

@keyframes slideOutToLeft {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}