@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.herobanner {
  position: relative;
  width: 100%;
  height: 111px;
  border-radius: $border-radius;
  overflow: hidden;
  margin: 0;
  
  @include responsive(desktop) {
    height: 223px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--home {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  &--about {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  figcaption {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: $title-color;
    font-size: 24px;
    font-weight: 700;
    z-index: 1;

    @include responsive(tablet) {
      width: 100%;
      text-align: center;
      left: 0;
    }
    
    @include responsive(desktop) {
      font-size: 48px;
      width: 100%;
      text-align: center;
      left: 0;
    }  
  }
}


