@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.mainError {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 113px;
  padding: $spacing-md;

  @include responsive(desktop) {
    padding: $spacing-xl;
    gap: 139px;
  }
}


.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 113px;

  @include responsive(desktop) {
    gap: 139px;
  }

  & h1 {
    font-size: 96px;
    font-weight: 700;
    color: $primary-color;

    @include responsive(tablet) {
        font-size: 192px;
    }

    @include responsive(desktop) {
        font-size: 288px;
    }
  }

  @include responsive(desktop) {
    & h1 {
      font-size: 288px;
    }
  }

  & p {
    font-size: $font-size-medium;
    color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;

    @include responsive(tablet) {
        font-size: $font-size-large;
    }

    @include responsive(desktop) {
        flex-wrap: nowrap;
        width: auto;
        font-size: 36px;
    }
  }

  & span {
    width: 100%;
    text-align: center;

    &:first-child {
        width: 60%;
    }

    @include responsive(desktop) {
        width: auto; // Supprime la largeur fixe
        display: inline;

        &:first-child {
          width: auto; // Supprime la largeur fixe pour le premier span
          margin-right: 5px; // Ajoute un petit espace entre les spans
        }
    }
  }


  & a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $text-color;
    text-decoration: underline;
    padding-bottom: 119px;

    @include responsive(desktop) {
        font-size: $font-size-medium;
    }
  }
}
